<div class="newsletter-area">
  <div class="container">
      <div class="row">
          <div class="col-md-5 col-sm-5">
              <div class="newsletter-content">
                  <h3>SUBSCRIBE</h3>
                  <h2>TO OUR NEWSLETTER</h2>
              </div>
          </div>
          <div class="col-md-7 col-sm-7">
              <div class="newsletter-form angle">
                  <form action="#" id="mc-form" class="mc-form footer-newsletter fix">
                      <div class="subscribe-form">
                          <input id="mc-email" type="email" name="email" placeholder="Enter your email address...">
                          <button id="mc-submit" type="submit">SUBSCRIBE</button>
                      </div>    
                  </form>
                  <!-- mailchimp-alerts Start -->
                  <div class="mailchimp-alerts text-centre fix pull-right">
                      <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                      <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                      <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                  </div>
                  <!-- mailchimp-alerts end -->
              </div>
          </div>
      </div>
  </div>
</div>
<!--End of Newsletter Area-->
<!--Footer Widget Area Start-->
<div class="footer-widget-area">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-4">
              <div class="single-footer-widget">
                  <div class="footer-logo">
                      <a href="index.html"><img src="img/logo/footer.png" alt=""></a>
                  </div>
                  <p>There are many variations of passg of Lorem Ipsum available, but thmajority have suffered altem, </p>
                  <div class="social-icons">
                      <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                      <a href="#"><i class="zmdi zmdi-rss"></i></a>
                      <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
                      <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                      <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4">
              <div class="single-footer-widget">
                  <h3>GET IN TOUCH</h3>
                  <a href="#"><i class="fa fa-phone"></i>0123-456-789</a>
                  <span><i class="fa fa-envelope"></i>info@example.com</span>
                  <span><i class="fa fa-globe"></i>www.educat.com</span>
                  <span><i class="fa fa-map-marker"></i>ur address goes here,street.</span>
              </div>
          </div>
          <div class="col-md-3 hidden-sm">
              <div class="single-footer-widget">
                  <h3>Useful Links</h3>
                  <ul class="footer-list">
                      <li><a href="#">Teachers &amp; Staff</a></li>
                      <li><a href="#">Our Courses</a></li>
                      <li><a href="#">Courses Categories</a></li>
                      <li><a href="#">Support</a></li>
                      <li><a href="#">Terms &amp; Conditions</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-3 col-sm-4">
              <div class="single-footer-widget">
                  <h3>Instagram</h3>
                  <div class="instagram-image">
                      <div class="footer-img">
                          <a href="#"><img src="img/footer/1.jpg" alt=""></a>
                      </div>
                      <div class="footer-img">
                          <a href="#"><img src="img/footer/2.jpg" alt=""></a>
                      </div>
                      <div class="footer-img">
                          <a href="#"><img src="img/footer/3.jpg" alt=""></a>
                      </div>
                      <div class="footer-img">
                          <a href="#"><img src="img/footer/4.jpg" alt=""></a>
                      </div>
                      <div class="footer-img">
                          <a href="#"><img src="img/footer/5.jpg" alt=""></a>
                      </div>
                      <div class="footer-img">
                          <a href="#"><img src="img/footer/6.jpg" alt=""></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!--End of Footer Widget Area-->
<!--Footer Area Start-->
<footer class="footer-area">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-sm-7">
              <span>Copyright &copy; Educat 2017.All right reserved.Created by <a href="#">Educat</a></span>
          </div>
          <div class="col-md-6 col-sm-5">
              <div class="column-right">
                  <span>Privacy Policy , Terms &amp; Conditions</span>
              </div>
          </div>
      </div>
  </div>
</footer>