  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Tsing Tsin Middle School</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  
<!-- favicon
============================================ -->		
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

<!-- Google Fonts
============================================ -->		
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800' rel='stylesheet' type='text/css'>

<!-- Bootstrap CSS
============================================ -->		
  <link rel="stylesheet" href="css/bootstrap.min.css">
  
<!-- Color Swithcer CSS
============================================ -->
  <link rel="stylesheet" href="css/color-switcher.css">
  
<!-- Fontawsome CSS
============================================ -->
  <link rel="stylesheet" href="css/font-awesome.min.css">
  
<!-- Owl Carousel CSS
============================================ -->
  <link rel="stylesheet" href="css/owl.carousel.css">
  
<!-- jquery-ui CSS
============================================ -->
  <link rel="stylesheet" href="css/jquery-ui.css">
  
<!-- Meanmenu CSS
============================================ -->
  <link rel="stylesheet" href="css/meanmenu.min.css">
  
<!-- Animate CSS
============================================ -->
  <link rel="stylesheet" href="css/animate.css">
  
<!-- Animated Headlines CSS
============================================ -->
  <link rel="stylesheet" href="css/animated-headlines.css">
  
  <!-- Nivo slider CSS
============================================ -->
<link rel="stylesheet" href="lib/nivo-slider/css/nivo-slider.css" type="text/css" />
<link rel="stylesheet" href="lib/nivo-slider/css/preview.css" type="text/css" media="screen" />
  
<!-- Metarial Iconic Font CSS
============================================ -->
  <link rel="stylesheet" href="css/material-design-iconic-font.css">
  <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
  
<!-- Slick CSS
============================================ -->
  <link rel="stylesheet" href="css/slick.css">
  
<!-- Video CSS
============================================ -->
  <link rel="stylesheet" href="css/jquery.mb.YTPlayer.css">
  
<!-- Style CSS
============================================ -->
  <link rel="stylesheet" href="style.css">
  
<!-- Color CSS
============================================ -->
  <link rel="stylesheet" href="css/color.css">
  
<!-- Responsive CSS
============================================ -->
  <link rel="stylesheet" href="css/responsive.css">
  
<!-- Modernizr JS
============================================ -->		
  <script src="js/vendor/modernizr-2.8.3.min.js"></script>

  <!-- Color Css Files
============================================ -->	
  <link rel="alternate stylesheet" type="text/css" href="switcher/color-one.css" title="color-one" media="screen" />
  <link rel="alternate stylesheet" type="text/css" href="switcher/color-two.css" title="color-two" media="screen" />
  <link rel="alternate stylesheet" type="text/css" href="switcher/color-three.css" title="color-three" media="screen" />
  <link rel="alternate stylesheet" type="text/css" href="switcher/color-four.css" title="color-four" media="screen" />
  <link rel="alternate stylesheet" type="text/css" href="switcher/color-five.css" title="color-five" media="screen" />
  <link rel="alternate stylesheet" type="text/css" href="switcher/color-six.css" title="color-six" media="screen" />
  <link rel="alternate stylesheet" type="text/css" href="switcher/color-seven.css" title="color-seven" media="screen" />
  <link rel="alternate stylesheet" type="text/css" href="switcher/color-eight.css" title="color-eight" media="screen" />
  <link rel="alternate stylesheet" type="text/css" href="switcher/color-nine.css" title="color-nine" media="screen" />
  <link rel="alternate stylesheet" type="text/css" href="switcher/color-ten.css" title="color-ten" media="screen" />
  <link rel="alternate stylesheet" type="text/css" href="switcher/color-ten.css" title="color-ten" media="screen" />
  <link rel="alternate stylesheet" type="text/css" href="switcher/pattren1.css" title="pattren1" media="screen" />
  <link rel="alternate stylesheet" type="text/css" href="switcher/pattren2.css" title="pattren2" media="screen" />
  <link rel="alternate stylesheet" type="text/css" href="switcher/pattren3.css" title="pattren3" media="screen" />
  <link rel="alternate stylesheet" type="text/css" href="switcher/pattren4.css" title="pattren4" media="screen" />
  <link rel="alternate stylesheet" type="text/css" href="switcher/pattren5.css" title="pattren5" media="screen" />
  <link rel="alternate stylesheet" type="text/css" href="switcher/background1.css" title="background1" media="screen" />
  <link rel="alternate stylesheet" type="text/css" href="switcher/background2.css" title="background2" media="screen" />
  <link rel="alternate stylesheet" type="text/css" href="switcher/background3.css" title="background3" media="screen" />
  <link rel="alternate stylesheet" type="text/css" href="switcher/background4.css" title="background4" media="screen" />
  <link rel="alternate stylesheet" type="text/css" href="switcher/background5.css" title="background5" media="screen" />