<!doctype html>
<html class="no-js" lang="en">
    <head>
        <% include ../partials/head %>

    </head>
    <body>
        
        <!--Main Wrapper Start-->
        <div class="as-mainwrapper">
            <!--Bg White Start-->
            <div class="bg-white">
                <!--Header Area Start-->
                <header class="header-two">
                    <% include ../partials/header %>
                </header>
                <!--End of Header Area-->
                <!--Breadcrumb Banner Area Start-->
                <div class="breadcrumb-banner-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="breadcrumb-text">
                                    
                                    <p>To ensure our students can fully access our curriculum and have an enjoyable learning experience at TTMS, the Admissions Team would select candidate for admissions based on the following criteria:</p>
                                    <br />
                                    <div>
                                        <ul class="circle-ul">
                                            <li>Demonstrate ability in academic achievement (at grade level)</li>
                                            <li>Proficient in English language</li>
                                            <li>Demonstrate positive behavior in classroom setting</li>
                                            <li>Admissions Priority (See below)</li>
                                          </ul> 
                                    </div>     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Breadcrumb Banner Area-->
                <!--About Page Area Start-->
                <div class="about-page-area section-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title-wrapper">
                                    <div class="section-title">
                                        <h3>Application Priority</h3>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Applicants meeting the above criteria will be prioritized in the Wait Pool according to one or more of the following categories set by the Board of TTMS:</p>
                                <div class="about-text-container">
                                    <ul class="circle-ul">
                                        <li>Corporate Capital Note nominees</li>
                                        <li>Foreign passport holders</li>
                                        <li>Children of TTMS faculty members</li>
                                        <li>Overseas applicants, pastoral and missionary families</li>
                                        <li>Siblings at TTMS and children of TTMS alumni</li>
                                    </ul>
                                </div>
                                <p>
                                    The above priority will be reviewed yearly by the Board of TTMS.
                                </p>

                            </div>
                            
                        </div>
                    </div>
                </div>
                <!--End of About Page Area-->
                <!--Skill And Experience Area Start-->
                

                <div class="skill-and-experience-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title-wrapper">
                                    <div class="section-title">
                                        <h3>Wait Pool Policy</h3>
                                        <p></p>
                                    </div>
                                </div> 
                            </div>       
                        </div>
                        <div class="row">
                            <div class="col-md-offset-1 col-md-10 col-sm-12">
                                <p>Applicants who met the current admission requirement but vacancy is not available will be placed on Wait Pool for one academic year. Candidates on the Wait Pool will be contacted if vacancy becomes available during that academic year. They need to reapply and may be reassessed for the following academic year.</p>    
                            </div>
                            
                        </div>
                    </div>
                </div>


                <div class="about-page-area section-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title-wrapper">
                                    <div class="section-title">
                                        <h3>Non-acceptance</h3>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>A non-acceptance letter will be sent to applicants who do not meet our admissions requirement due to:</p>
                                <div class="about-text-container">
                                    <ul class="circle-ul">
                                        <li>Weak English skills</li>
                                        <li>Performance of academic achievement was below standard</li>
                                        <li>Failing grades in current school</li>
                                        <li>Behavioral concerns in current school</li>
                                    </ul>
                                </div>
                                <h4 class="ttms-subtitle">
                                  Appeal Policy
                                </h4>
                                <p>Should parents want to appeal the admission decision, they may write to the Admissions Team.  The appeal will be processed and parents will be notified of the appeal result in writing.</p>

                            </div>
                            
                        </div>
                    </div>
                </div>
             
                <% include ../partials/footer %>
            </div>   
            <!--End of Bg White--> 
        </div>    
        <!--End of Main Wrapper Area--> 
        
        <% include ../partials/script %>
    </body>
</html>