<!doctype html>
<html class="no-js" lang="en">
    <head>
        <% include ../partials/head %>

    </head>
    <body>
        
        <!--Main Wrapper Start-->
        <div class="as-mainwrapper">
            <!--Bg White Start-->
            <div class="bg-white">
                <!--Header Area Start-->
                <header class="header-two">
                    <% include ../partials/header %>
                </header>
                <!--End of Header Area-->
                <!--Breadcrumb Banner Area Start-->
                <div class="breadcrumb-banner-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="breadcrumb-text">
                                    
                                    <p class="text-center">Applicants are required to submit the Application Form together with the Application Fee and supporting documents (refer to Application Checklist below). For 2018-2019 admissions, local applicants should observe the following deadlines to ensure their priority in testing:</p>
                                    <br />     
                                    <p class="text-center">Grade 8 to Grade 12:  October 30, 2018</p> 
                                    <br />
                                    <p class="text-center"> Overseas applicants are encouraged to contact our office and submit the applications as soon as possible.</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Breadcrumb Banner Area-->
                <!--About Page Area Start-->
                <div class="about-page-area section-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title-wrapper">
                                    <div class="section-title">
                                        <h3>Application Checklist</h3>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="about-text-container">
                                    <ul class="circle-ul">
                                        <li>A non-refundable and non-transferable Application Fee of HK$1,000</li>
                                        <li>A non-refundable and non-transferable Assessment Fee of HK$1,000 due at the time of admissions assessment</li>
                                        <li>A recent passport size photo of the applicant (attached to the application form)</li>
                                        <li>Photocopy of applicant’s birth certificate</li>
                                        <li>Photocopy of HKID card (if available)</li>
                                        <li>Photocopy of passport</li>
                                        <li>Photocopy of Dependent or Student Visa* for non-permanent resident</li>
                                        <li>Copies of academic reports </li>
                                        <li>Secondary – report cards, in English, from the past 3 years;</li>
                                        <li>Official Transcripts of applicants applying for Grade 10-12**</li>
                                        <li>Recent standardized test results for Grade 8 – 12 applicants (if any)</li>
                                        <li>Secondary Applicant Questionnaire (for G8-G12 Applicants)</li>
                                        <li>Student Reference Form (for Secondary School Students)***</li>
                                    </ul>
                                </div>
                                <p class="italic">* Prior to admissions, all students must provide proof of Hong Kong residency in compliance with the regulations of the Hong Kong Education Bureau and Hong Kong Immigration Department for entry to school in Hong Kong.</p>
                                <p class="italic">** New Students who are admitting into Grade 10 to 12 are required to submit their official transcripts prior to their first day of school. They may have to present a mid-term transcript for course selection purpose.</p>
                                <p class="italic">*** Acceptance will not be offered until the Student Reference Form is received by TTMS Admissions Office.</p>


                            </div>
                            
                        </div>
                    </div>
                </div>
                <!--End of About Page Area-->
                <!--Skill And Experience Area Start-->
                <div class="skill-and-experience-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title-wrapper">
                                    <div class="section-title">
                                        <h3>Residency in Hong Kong</h3>
                                        <p></p>
                                    </div>
                                </div> 
                            </div>       
                        </div>
                        <div class="row">
                            <div class="col-md-offset-1 col-md-10 col-sm-12">
                                <p>Students attending TTMS must be living with at least one parent who is a full-time resident in Hong Kong. If a guardian is the person responsible for the student application, then an authorization letter indicating legal guardianship must be submitted with the application form. All students enrolling at TTMS must have the approval of the Hong Kong Immigration Department to reside and study in Hong Kong.</p>    
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!--End of Skill And Experience Area-->
                <!--Teachers Area Start-->
                <div class="teachers-area padding-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title-wrapper">
                                    <div class="section-title">
                                        <h3>Initial Screening</h3>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-1 col-md-10">
                                <p class="text-center">
                                    An application is initially reviewed to assess if an applicant meets the following criteria:
                                </p>
                                <div>
                                        <h4 class="ttms-subtitle">Age requirement</h4>
                                        <ul class="circle-ul">
                                            <li>Grades 8 to 12: Students must be age-appropriate on or before August 31 of year of entry, otherwise it will be reviewed on a case by case basis</li>
                                            <li>Please refer to the Age and Grade Level Determination Chart </li>
                                            <li>Students transferring from a country whose school year follows a different calendar than TTMS will generally be required to continue in the year they have just completed (For example a student completing Year 8 in December in Australia, would remain in Grade 8 at TTMS for the remainder of the academic year).</li>
                                        </ul>
                                </div>
                                <div>
                                    <h4 class="ttms-subtitle">Initial screening on English language proficiency</h4>
                                    <ul class="circle-ul">
                                        <li>Applicant’s English language proficiency will be screened by the information provided on the application form.</li>
                                    </ul>
                                </div> 
                                <div>
                                     
                                        
                                    <h4 class="ttms-subtitle">Previous academic standing and behavior standard</h4>
                                    <ul class="circle-ul">
                                        <li>Our Admissions Team will review applicants’ academic reports and standardized tests, if any. Teachers’ comments on behavior and effort are important to us.  TTMS students are expected to contribute positively to the school community.</li>
                                    </ul>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <% include ../partials/footer %>
            </div>   
            <!--End of Bg White--> 
        </div>    
        <!--End of Main Wrapper Area--> 
        
        <% include ../partials/script %>
    </body>
</html>