<!doctype html>
<html class="no-js" lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <!--Main Wrapper Start-->
  <div class="as-mainwrapper">
    <!--Bg White Start-->
    <div class="bg-white">
      <!--Header Area Start-->
      <header class="header-two">
        <% include ../partials/header %>
      </header>
      <div class="breadcrumb-banner-area">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="breadcrumb-text">
                <h1 class="text-center">CONTACT US</h1>
                <div class="breadcrumb-bar">
                  <ul class="breadcrumb text-center">
                    <li>
                      <a href="index.html">Home</a>
                    </li>
                    <li>CONTACT</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-form-area section-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h4 class="contact-title">Contact Admissions</h4>
              <div class="contact-text">
                <p>
                  <span class="c-icon">
                    <i class="zmdi zmdi-phone"></i>
                  </span>
                  <span class="c-text">+852 2387 8228</span>
                </p>
                <p>
                  <span class="c-icon">
                    <i class="zmdi zmdi-phone"></i>
                  </span>
                  <span class="c-text">+852 2360 1293</span>
                </p>
                <p>
                  <span class="c-icon">
                    <i class="zmdi zmdi-email"></i>
                  </span>
                  <span class="c-text">ttmsedu@yahoo.com.hk</span>
                </p>
                <p>
                  <span class="c-icon">
                    <i class="zmdi zmdi-pin"></i>
                  </span>
                  <span class="c-text">Admissions Office</p>
                <p> Tsung Tsin Middle School
                  <br /> 11 Kwong Lee Road, Cheung Sha Wan, Kowloon Hong Kong</span>
                </p>
                <p>
                  Office Hours
                  <br /> Monday to Friday
                  <br /> 8:00 am to 5:00 pm
                </p>
              </div>
              <h4 class="contact-title">social media</h4>
              <div class="link-social">
                <a href="#">
                  <i class="zmdi zmdi-facebook"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-rss"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-google-plus"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-pinterest"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-instagram"></i>
                </a>
              </div>
            </div>
            <div class="col-md-7">
              <h4 class="contact-title">send your massage</h4>
              <form id="contact-form" action="mail.php" method="post">
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" name="name" placeholder="name">
                  </div>
                  <div class="col-md-6">
                    <input type="email" name="email" placeholder="Email">
                  </div>
                  <div class="col-md-12">
                    <textarea name="message" cols="30" rows="10" placeholder="Message"></textarea>
                    <button type="submit" class="button-default">SUBMIT</button>
                  </div>
                </div>
              </form>
              <p class="form-messege"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End of Main Wrapper Area-->

    <% include ../partials/script %>
</body>

</html>