<!doctype html>
<html class="no-js" lang="en">
    <head>
      <% include ../partials/head %>
    </head>
    <body>
        
        <!--Main Wrapper Start-->
        <div class="as-mainwrapper">
            <!--Bg White Start-->
            <div class="bg-white">
                <!--Header Area Start-->
                <header class="header-two">
                  <% include ../partials/header %>
                </header>
                <!--End of Header Area-->
                <!--Breadcrumb Banner Area Start-->
                <div class="breadcrumb-banner-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="breadcrumb-text">
                                    <h1 class="text-center">Our Courses</h1>
                                    <div class="breadcrumb-bar">
                                        <ul class="breadcrumb text-center">
                                            <li><a href="index.html">Home</a></li>
                                            <li>Courses</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Breadcrumb Banner Area-->
                <!--About Page Area Start-->
                <div class="about-page-area section-padding">
                    <div class="container">
                        <div class="course-duration">
                            <div class="duration-title">
                                <div class="text"><span>Mandatory Fees</span><span>Amount(HKD)               </span> <span class="ttms-text-right">Description</span></div>
                            </div>
                            <div class="duration-text">
                                <div class="text"><span>Application Fee</span><span>$1,000</span><span class="ttms-text-right">The application fee is non-refundable and non-transferable and must be received together with the application form. The application fee covers the administrative cost. This fee is only valid for the academic year originally applied for. If an applicant does not gain admission, and thus reapplies for the next academic year, the application fee must be paid again.</span></div>
                                <div class="text"><span>Assestment Fee</span> <span>$1,000</span>  <span class="ttms-text-right">The assessment fee is non-refundable and non-transferable and must be settled on the day of admissions testing. This assessment fee covers the admissions assessment and student interview. This fee is only valid for the academic year originally applied for. If an applicant does not gain admission, and thus reapplies for the next academic year, the testing fee must be paid again.</span></div>
                                <div class="text"><span>Entry Deposit</span> <span>$10,000</span> <span class="ttms-text-right">The entry deposit will be rolled over each year and will be credited against a student’s final tuition payment upon Grade 12 graduation. Should the student leave before graduation, this amount will also be credited against the final tuition payment. If the applicant has accepted the offer but subsequently decides not to come, this deposit will be forfeited.</span></div>
                                <div class="text"><span>Reservation Fee</span> <span>One month tution fee</span> <span class="ttms-text-right">The reservation fee which equals to one month tuition fee will be collected during enrollment/re-enrollment and will be credited against the first tuition payment. If the applicant has accepted the offer but subsequently decides not to come, this fee will be forfeited.</span></div>
                                <div class="text"><span>BV pay</span> <span>$2,000</span> <span class="ttms-text-right">The BVPay is a deposit serves as an advance for the settlement of miscellaneous payments to be incurred by the student during the year e.g. school activity related fees like camp fee, transportation, entry fee for field trips. The fee will be collected with first tuition payment. (*Mandatory top-up of $1,000 for existing CAIS students will be collected with first tuition payment.)</span></div>
                                <div class="text"><span>Graduation Fee</span> <span>$3,800</span> <span class="ttms-text-right">The graduation fee is non-refundable and non-transferable and will be collected with first tuition payment. (Apply to Grade 12 students only)</span></div>
                            </div>
                            <p></p>
                            <div class="course-duration">
                                <div class="duration-title">
                                    <div class="text"><span>Group 1</span></div>
                                </div>
                                <div class="duration-text">
                                    <div class="text"><h5>Studies in Language and Literature</h5></div>
                                </div>
                                <div class="duration-title">
                                    <div class="text"><span>Group 2</span></div>
                                </div>
                                <div class="duration-text">
                                    <div class="text">
                                      <h5>Language Acquisition</h5>
                                      <h6>English, etc</h6>
                                    </div>
                                </div>
                                <div class="duration-title">
                                    <div class="text"><span>Group 3</span></div>
                                </div>
                                <div class="duration-text">
                                    <div class="text">
                                      <h5>Individuals and Societies</h5>
                                      <h6>History, Geography, Economics, Philosophy, Psychology, etc.</h6>
                                    </div>
                                </div>
                                <div class="duration-title">
                                    <div class="text"><span>Group 4</span></div>
                                </div>
                                <div class="duration-text">
                                    <div class="text">
                                      <h5>Experimental Sciences</h5>
                                      <h6>Physics, Chemistry, Biology, etc</h6>
                                    </div>
                                </div>
                                <div class="duration-title">
                                    <div class="text"><span>Group 5</span></div>
                                </div>
                                <div class="duration-text">
                                    <div class="text">
                                      <h5>Mathematics and Computer Science</h5>
                                      <h6>Mathematics, Maths Studies etc</h6>
                                    </div>
                                </div>
                                <div class="duration-title">
                                    <div class="text"><span>Group 6</span></div>
                                </div>
                                <div class="duration-text">
                                    <div class="text">
                                      <h5>The Arts</h5>
                                      <h6>Visual arts, Music, Dramatic arts or any third language</h6>
                                      
                                    </div>
                                </div>
                                
                        </div>
                        <div class="row  mt-20">
                                <div class="col-sm-offset-2 col-sm-8">
                                  <div role="alert" class="alert alert-info">
                                    <h4>Apart from the academic studies, students are also required to complete a research report as well as taking part in extra-curricular activities and community services:</h4>
                                    <hr>
                                    <h5 class="mb-10">Extended Essay(EE)</h5>
                                    <p class="bold mt-10">4000-word essay on a self-selected topic.</p>
                                    <h5 class="mb-10">Theory of Knowledge(TOK)</h5>
                                    <p class="bold mt-10">1200 to 1600-word essay on a specified topic.</p>
                                    <h5 class="mb-10">Creativity, Action and Service (CAS)</h5>
                                    <p class="bold mt-10">Minimum obtainment is pass</p> 
                                  </div>
                                </div>
                              </div>
                    
                    
                    </div>
                </div>
                <% include ../partials/footer %>
                <!--End of Footer Area-->
            </div>   
            <!--End of Bg White--> 
        </div>    
        <!--End of Main Wrapper Area--> 
        
    <% include ../partials/script %>
    </body>
</html>