<!doctype html>
<html class="no-js" lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        
        <!--Main Wrapper Start-->
        <div class="as-mainwrapper">
            <!--Bg White Start-->
            <div class="bg-white">
                <!--Header Area Start-->
                <header class="header-two">
                    <% include ../partials/header %>
                </header>
                <!--End of Header Area-->
                <!--background Area Start-->
                <div class="backgrount-area fixed-bg-1 pt-110 pb-110 overlay-light-2-fullwidth">
                    <div class="banner-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-content-wrapper text-center full-width">
                                    <div class="text-content">
                                        <h1 class="title1 text-center mb-20">
                                            <span class="tlt block" data-in-effect="fadeInRight" data-out-effect="fadeOutRight" >Education Needs</span>
                                            <span class="tlt block" data-in-effect="bounceIn" data-out-effect="bounceOut">Complete Solution</span>
                                        </h1>
                                        <div class="banner-readmore">
                                            <a class="button-default inline" href="#">View Courses</a>	                
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>	 
                </div>
                <!--End of background Area-->
                <!--About Area Start-->
                <div class="about-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="about-container">
                                    <h3>About Us</h3>
                                    <p>This school founded in 1957, adhering the ideas that praising upright highly is the way to regard the world as the Guest Home and regard the students as their own children, and teach the students wholeheartedly. It is the only middle school that pays no attention to the students’ family backgrounds and religious background, that pays no attention to the diplomas, that stresses the research spirits of Self-improvement and Self detachment.</p>
                                    <a class="button-default" href="/about">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of About Area-->
                <div class="fun-factor-area section-padding bg-white">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-title-wrapper">
                                        <div class="section-title">
                                            <h3>Information</h3>
                                            <p></p >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="single-fun-factor">
                                        <h4><a href=" ">Application Requirements</a ></h4>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="single-fun-factor">
                                        <h4><a href="/admissions">Admissions Criteria</a ></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="ttms-time">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-title-wrapper white">
                                        <div class="section-title">
                                            <h3>Time of Starting Classes</h3>
                                            <p></p >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p>It is expected to start in <strong>early November</strong></p >
                                <p>Enrollment time of Semester 18-19 is from <strong>late April</strong> to <strong>mid-October</strong></p >
                                <p>Enrollment time of Semester 19-12 is from <strong>late November</strong> to <strong>mid-October</strong></p >
                            </div>
                        </div>
                    </div>
    
                    <div class="ttms-fee section-padding bg-white">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-title-wrapper">
                                        <div class="section-title">
                                            <h3>Fee Schedule</h3>
                                            <p></p >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row aligncenter">
                                <a class="button-default" href="/course">Click here to get more information</a >          
                            </div>
                        </div>
                    </div>

                    <!--Background Area Start-->
                <div class="background-area no-animation overlay-light-2-fullwidth">    
                    <img src="img/slider/1.jpg" alt=""/>
                    <div class="banner-content static-text">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-content-wrapper text-center full-width">
                                        <div class="text-content table-cell">
                                            <h1 class="title1 cd-headline letters rotate-3 text-center border-none mt-60">
                                                How To
                                                <span class="cd-words-wrapper">
                                                    <b class="is-visible"> Join Us</b>
                                                    <b>Apply</b>
                                                </span>
                                            </h1>
                                            <div class="banner-readmore">
                                                <a class="button-default" href="#">View Students Affair Arrangement</a>                 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>

                <!--Course Area Start-->
                <div class="course-area section-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title-wrapper">
                                    <div class="section-title">
                                        <h3>POPULAR COURSES</h3>
                                        <p>There are many variations of passages of Lorem Ipsum</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="single-item">
                                    <div class="single-item-image overlay-effect">
                                        <a href="#"><img src="img/course/1.jpg" alt=""></a>
                                    </div>
                                    <div class="single-item-text">
                                        <h4><a href="#">Photoshop CC 2017</a></h4>
                                        <div class="single-item-text-info">
                                            <span>By: <span>M S Nawaz</span></span>
                                            <span>Date: <span>20.5.15</span></span>
                                        </div>
                                        <p>There are many variations of sages of Lorem Ipsum available, but the mrity have suffered alteration in some orm, by injected humo ur,There are many but the mri have suffered alteration in some </p>
                                        <div class="single-item-content">
                                           <div class="single-item-comment-view">
                                               <span><i class="zmdi zmdi-eye"></i>59</span>
                                               <span><i class="zmdi zmdi-comments"></i>19</span>
                                           </div>
                                           <div class="single-item-rating">
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star-half"></i>
                                           </div>
                                        </div>   
                                    </div>
                                    <div class="button-bottom">
                                        <a href="#" class="button-default">Learn Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="single-item">
                                    <div class="single-item-image overlay-effect">
                                        <a href="#"><img src="img/course/2.jpg" alt=""></a>
                                    </div>
                                    <div class="single-item-text">
                                        <h4><a href="#">Illustrator CC 2017</a></h4>
                                        <div class="single-item-text-info">
                                            <span>By: <span>Subas Das</span></span>
                                            <span>Date: <span>20.5.15</span></span>
                                        </div>
                                        <p>There are many variations of sages of Lorem Ipsum available, but the mrity have suffered alteration in some orm, by injected humo ur,There are many but the mri have suffered alteration in some </p>
                                        <div class="single-item-content">
                                           <div class="single-item-comment-view">
                                               <span><i class="zmdi zmdi-eye"></i>59</span>
                                               <span><i class="zmdi zmdi-comments"></i>19</span>
                                           </div>
                                           <div class="single-item-rating">
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star-half"></i>
                                           </div>
                                        </div>   
                                    </div>
                                    <div class="button-bottom">
                                        <a href="#" class="button-default">Learn Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 hidden-sm">
                                <div class="single-item">
                                    <div class="single-item-image overlay-effect">
                                        <a href="#"><img src="img/course/3.jpg" alt=""></a>
                                    </div>
                                    <div class="single-item-text">
                                        <h4><a href="#">Indesign CC 2017</a></h4>
                                        <div class="single-item-text-info">
                                            <span>By: <span>Momin Boss</span></span>
                                            <span>Date: <span>20.5.15</span></span>
                                        </div>
                                        <p>There are many variations of sages of Lorem Ipsum available, but the mrity have suffered alteration in some orm, by injected humo ur,There are many but the mri have suffered alteration in some </p>
                                        <div class="single-item-content">
                                           <div class="single-item-comment-view">
                                               <span><i class="zmdi zmdi-eye"></i>59</span>
                                               <span><i class="zmdi zmdi-comments"></i>19</span>
                                           </div>
                                           <div class="single-item-rating">
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star-half"></i>
                                           </div>
                                        </div>   
                                    </div>
                                    <div class="button-bottom">
                                        <a href="#" class="button-default">Learn Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 text-center">
                                <a href="#" class="button-default button-large">Browse All Courses <i class="zmdi zmdi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Course Area-->
                <!--Fun Factor Area Start-->
                <div class="fun-factor-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title-wrapper white">
                                    <div class="section-title">
                                        <h3>IMPORTANT FACTS</h3>
                                        <p>There are many variations of passages of Lorem Ipsum</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <div class="single-fun-factor">
                                    <h4>Teachers</h4>
                                    <h2><span class="counter">79</span>+</h2>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="single-fun-factor">
                                    <h4>Members</h4>
                                    <h2><span class="counter">120</span>+</h2>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="single-fun-factor">
                                    <h4>Courses</h4>
                                    <h2><span class="counter">36</span>+</h2>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="single-fun-factor">
                                    <h4>Countries</h4>
                                    <h2><span class="counter">20</span>+</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Fun Factor Area-->   
                <!--Latest News Area Start--> 
                <div class="latest-area section-padding bg-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title-wrapper">
                                    <div class="section-title">
                                        <h3>Latest News</h3>
                                        <p>There are many variations of passages</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single-latest-item">
                                    <div class="single-latest-image">
                                        <a href="#"><img src="img/latest/1.jpg" alt=""></a>
                                    </div>
                                    <div class="single-latest-text">
                                        <h3><a href="#">Learn English in ease</a></h3>
                                        <div class="single-item-comment-view">
                                           <span><i class="zmdi zmdi-calendar-check"></i>25 jun 2050</span>
                                           <span><i class="zmdi zmdi-eye"></i>59</span>
                                           <span><i class="zmdi zmdi-comments"></i>19</span>
                                       </div>
                                       <p>There are many variaons of passages of Lorem Ipsuable, amrn in some by injected humour, </p>
                                       <a href="#" class="button-default">LEARN Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-latest-item">
                                    <div class="single-latest-image">
                                        <a href="#"><img src="img/latest/2.jpg" alt=""></a>
                                    </div>
                                    <div class="single-latest-text">
                                        <h3><a href="#">Learn English in ease</a></h3>
                                        <div class="single-item-comment-view">
                                           <span><i class="zmdi zmdi-calendar-check"></i>25 jun 2050</span>
                                           <span><i class="zmdi zmdi-eye"></i>59</span>
                                           <span><i class="zmdi zmdi-comments"></i>19</span>
                                       </div>
                                       <p>There are many variaons of passages of Lorem Ipsuable, amrn in some by injected humour, </p>
                                       <a href="#" class="button-default">LEARN Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-latest-item">
                                    <div class="single-latest-image">
                                        <a href="#"><img src="img/latest/3.jpg" alt=""></a>
                                    </div>
                                    <div class="single-latest-text">
                                        <h3><a href="#">Learn English in ease</a></h3>
                                        <div class="single-item-comment-view">
                                           <span><i class="zmdi zmdi-calendar-check"></i>25 jun 2050</span>
                                           <span><i class="zmdi zmdi-eye"></i>59</span>
                                           <span><i class="zmdi zmdi-comments"></i>19</span>
                                       </div>
                                       <p>There are many variaons of passages of Lorem Ipsuable, amrn in some by injected humour, </p>
                                       <a href="#" class="button-default">LEARN Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-latest-item">
                                    <div class="single-latest-image">
                                        <a href="#"><img src="img/latest/4.jpg" alt=""></a>
                                    </div>
                                    <div class="single-latest-text">
                                        <h3><a href="#">Learn English in ease</a></h3>
                                        <div class="single-item-comment-view">
                                           <span><i class="zmdi zmdi-calendar-check"></i>25 jun 2050</span>
                                           <span><i class="zmdi zmdi-eye"></i>59</span>
                                           <span><i class="zmdi zmdi-comments"></i>19</span>
                                       </div>
                                       <p>There are many variaons of passages of Lorem Ipsuable, amrn in some by injected humour, </p>
                                       <a href="#" class="button-default">LEARN Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Latest News Area--> 
                <!--Online Product Area Start-->
                <div class="product-area section-bottom-padding bg-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title-wrapper">
                                    <div class="section-title">
                                        <h3>Online Library</h3>
                                        <p>There are many variations of passages</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="single-product-item">
                                    <div class="single-product-image">
                                        <a href="#"><img src="img/product/1.jpg" alt=""></a>
                                    </div>
                                    <div class="single-product-text">
                                        <h4><a href="#">Title Product Here</a></h4>
                                        <h5>Book</h5>
                                        <div class="product-price">
                                            <h3>$ 28</h3>
                                           <div class="single-item-rating">
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star-half"></i>
                                           </div>
                                        </div>
                                        <div class="product-buttons">
                                            <button type="button" class="button-default cart-btn">ADD TO CART</button>
                                            <button type="button" class="button-default"><i class="zmdi zmdi-favorite"></i></button>
                                            <button type="button" class="button-default"><i class="zmdi zmdi-refresh-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="single-product-item">
                                    <div class="single-product-image">
                                        <a href="#"><img src="img/product/2.jpg" alt=""></a>
                                    </div>
                                    <div class="single-product-text">
                                        <h4><a href="#">Title Product Here</a></h4>
                                        <h5>Book</h5>
                                        <div class="product-price">
                                            <h3>$ 28</h3>
                                           <div class="single-item-rating">
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star-half"></i>
                                           </div>
                                        </div>
                                        <div class="product-buttons">
                                            <button type="button" class="button-default cart-btn">ADD TO CART</button>
                                            <button type="button" class="button-default"><i class="zmdi zmdi-favorite"></i></button>
                                            <button type="button" class="button-default"><i class="zmdi zmdi-refresh-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="single-product-item">
                                    <div class="single-product-image">
                                        <a href="#"><img src="img/product/3.jpg" alt=""></a>
                                    </div>
                                    <div class="single-product-text">
                                        <h4><a href="#">Title Product Here</a></h4>
                                        <h5>Book</h5>
                                        <div class="product-price">
                                            <h3>$ 28</h3>
                                           <div class="single-item-rating">
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star-half"></i>
                                           </div>
                                        </div>
                                        <div class="product-buttons">
                                            <button type="button" class="button-default cart-btn">ADD TO CART</button>
                                            <button type="button" class="button-default"><i class="zmdi zmdi-favorite"></i></button>
                                            <button type="button" class="button-default"><i class="zmdi zmdi-refresh-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 hidden-sm">
                                <div class="single-product-item">
                                    <div class="single-product-image">
                                        <a href="#"><img src="img/product/4.jpg" alt=""></a>
                                    </div>
                                    <div class="single-product-text">
                                        <h4><a href="#">Title Product Here</a></h4>
                                        <h5>Book</h5>
                                        <div class="product-price">
                                            <h3>$ 28</h3>
                                           <div class="single-item-rating">
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star-half"></i>
                                           </div>
                                        </div>
                                        <div class="product-buttons">
                                            <button type="button" class="button-default cart-btn">ADD TO CART</button>
                                            <button type="button" class="button-default"><i class="zmdi zmdi-favorite"></i></button>
                                            <button type="button" class="button-default"><i class="zmdi zmdi-refresh-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Online Product Area-->
                <!--Testimonial Area Start-->
                <div class="testimonial-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                                <div class="row">
                                    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                                        <div class="testimonial-image-slider text-center">
                                            <div class="sin-testiImage">
                                                <img src="img/testimonial/1.jpg" alt="testimonial 1" />
                                            </div>
                                            <div class="sin-testiImage">
                                                <img src="img/testimonial/2.jpg" alt="testimonial 2" />
                                            </div>
                                            <div class="sin-testiImage">
                                                <img src="img/testimonial/3.jpg" alt="testimonial 3" />
                                            </div>
                                            <div class="sin-testiImage">
                                                <img src="img/testimonial/1.jpg" alt="testimonial 1" />
                                            </div>
                                            <div class="sin-testiImage">
                                                <img src="img/testimonial/2.jpg" alt="testimonial 2" />
                                            </div>
                                            <div class="sin-testiImage">
                                                <img src="img/testimonial/3.jpg" alt="testimonial 3" />
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="testimonial-text-slider text-center">
                                    <div class="sin-testiText">
                                        <h2>M S Nawaz </h2>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                    </div>
                                    <div class="sin-testiText">
                                        <h2>Chowchilla Madera</h2>
                                        <p>Nam nec tellus a odio tincidunt This lorem is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean nisi sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum gravida.</p>
                                    </div>
                                    <div class="sin-testiText">
                                        <h2>Kattie Luis</h2>
                                        <p>Nam nec tellus a odio tincidunt This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean tincidunt sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum Photoshop.</p>
                                    </div>
                                    <div class="sin-testiText">
                                        <h2>M S Nawaz </h2>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                    </div>
                                    <div class="sin-testiText">
                                        <h2>Chowchilla Madera</h2>
                                        <p>Nam nec tellus a odio tincidunt This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, aliquet lorem quis tellus velit bibendum auctor, nisi elit consequat ipsum</p>
                                    </div>
                                    <div class="sin-testiText">
                                        <h2>Kattie Luis</h2>
                                        <p>Nam nec tellus a odio tincidunt This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem gravida tincidunt quis bibendum auctor, nisi elit consequat ipsum</p>
                                    </div>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Testimonial Area-->
                <!--Event Area Start-->
                <div class="event-area section-padding bg-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title-wrapper">
                                    <div class="section-title">
                                        <h3>OUR EVENTS</h3>
                                        <p>There are many variations of passages</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="single-event-item">
                                    <div class="single-event-image">
                                        <a href="#">
                                            <img src="img/event/1.jpg" alt="">
                                            <span><span>15</span>Jun</span>
                                        </a>
                                    </div>
                                    <div class="single-event-text">
                                        <h3><a href="#">Learn English in ease</a></h3>
                                        <div class="single-item-comment-view">
                                           <span><i class="zmdi zmdi-time"></i>4.00 pm - 8.00 pm</span>
                                           <span><i class="zmdi zmdi-pin"></i>Dhaka Bangladesh</span>
                                       </div>
                                       <p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected humour, amr sarata din megla....</p>
                                       <a class="button-default" href="#">LEARN Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="single-event-item">
                                    <div class="single-event-image">
                                        <a href="#">
                                            <img src="img/event/2.jpg" alt="">
                                            <span><span>20</span>Apr</span>
                                        </a>
                                    </div>
                                    <div class="single-event-text">
                                        <h3><a href="#">Learn English in ease</a></h3>
                                        <div class="single-item-comment-view">
                                           <span><i class="zmdi zmdi-time"></i>4.00 pm - 8.00 pm</span>
                                           <span><i class="zmdi zmdi-pin"></i>Jessore Bangladesh</span>
                                       </div>
                                       <p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected humour, amr sarata din megla....</p>
                                       <a class="button-default" href="#">LEARN Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 hidden-sm">
                                <div class="single-event-item">
                                    <div class="single-event-image">
                                        <a href="#">
                                            <img src="img/event/3.jpg" alt="">
                                            <span><span>06</span>Dec</span>
                                        </a>
                                    </div>
                                    <div class="single-event-text">
                                        <h3><a href="#">Learn English in ease</a></h3>
                                        <div class="single-item-comment-view">
                                           <span><i class="zmdi zmdi-time"></i>4.00 pm - 8.00 pm</span>
                                           <span><i class="zmdi zmdi-pin"></i>Dhaka. Bangladesh</span>
                                       </div>
                                       <p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected humour, amr sarata din megla....</p>
                                       <a class="button-default" href="#">LEARN Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Event Area-->
                <!--Newsletter Area Start-->
              <% include ../partials/footer %>
                <!--End of Footer Area-->
            </div>   
            <!--End of Bg White--> 
        </div>    
        <!--End of Main Wrapper Area--> 
        
       <% include ../partials/script %>
    </body>
</html>