<!doctype html>
<html class="no-js" lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <!--Main Wrapper Start-->
  <div class="as-mainwrapper">
    <!--Bg White Start-->
    <div class="bg-white">
      <!--Header Area Start-->
      <header class="header-two">
        <% include ../partials/header %>
      </header>
      <!--End of Header Area-->
      <!--Breadcrumb Banner Area Start-->
      <div class="breadcrumb-banner-area only-bgcolor">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="breadcrumb-text">
                <h1 class="text-center">INTERNATIONAL BACCALAUREATE</h1>
                <div class="breadcrumb-bar">
                  <ul class="breadcrumb text-center">
                    <li><a href="index.html">Home</a></li>
                    <li>INTERNATIONAL BACCALAUREATE</li>
                  </ul>
                </div>
                <div class="col-sm-offset-2 col-sm-8 mt-30 aligncenter">
                  <p>IB is an internationally recognised high school qualification. It is a two-year programme that focuses on developing students’ aptitude and critical thinking skills, helping them adapt to the learning environment in universities.. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End of Breadcrumb Banner Area-->
      <div id="course-feautures" class="ib-page-area section-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title-wrapper">
                <div class="section-title">
                  <h3>Course Features</h3>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <div class="about-text-container">
                <ul class="circle-ul">
                  <li>Worldwide reputation of the qualification enables students to apply to all top universities in most countries including universities in Hong Kong. </li>
                  <li>Compared to GCE A-levels, IB is more recognised by universities in the US.</li>
                  <li>Mid-range obtainment of 35 marks in IB is equivalent to 4As in GCE A-levels. Studying IB better demonstrates the ability of top students.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="course-structure" class="ib-page-area section-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title-wrapper">
                <div class="section-title">
                  <h3>Course Structure</h3>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <p>Students study one subject from each of the following six groups, in which at least three of them must be at the Higher level.</p>
              <div class="about-text-container">
                <div class="course-duration">
              <div class="duration-title">
                <div class="text"><span>Group 1</span></div>
              </div>
              <div class="duration-text">
                <div class="text">
                  <h5>Studies in Language and Literature</h5></div>
              </div>
              <div class="duration-title">
                <div class="text"><span>Group 2</span></div>
              </div>
              <div class="duration-text">
                <div class="text">
                  <h5>Language Acquisition</h5>
                  <h6>English, etc</h6>
                </div>
              </div>
              <div class="duration-title">
                <div class="text"><span>Group 3</span></div>
              </div>
              <div class="duration-text">
                <div class="text">
                  <h5>Individuals and Societies</h5>
                  <h6>History, Geography, Economics, Philosophy, Psychology, etc.</h6>
                </div>
              </div>
              <div class="duration-title">
                <div class="text"><span>Group 4</span></div>
              </div>
              <div class="duration-text">
                <div class="text">
                  <h5>Experimental Sciences</h5>
                  <h6>Physics, Chemistry, Biology, etc</h6>
                </div>
              </div>
              <div class="duration-title">
                <div class="text"><span>Group 5</span></div>
              </div>
              <div class="duration-text">
                <div class="text">
                  <h5>Mathematics and Computer Science</h5>
                  <h6>Mathematics, Maths Studies etc</h6>
                </div>
              </div>
              <div class="duration-title">
                <div class="text"><span>Group 6</span></div>
              </div>
              <div class="duration-text">
                <div class="text">
                  <h5>The Arts</h5>
                  <h6>Visual arts, Music, Dramatic arts or any third language</h6>
                </div>
              </div>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="assessment" class="ib-page-area section-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title-wrapper">
                <div class="section-title">
                  <h3>Assessment</h3>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <p>Maximum mark of each subject is 7. With 3 extra marks from EE and TOK, full mark is 45.</p>
              <p>IB obtainment can be compared to that of the GCE A-levels:</p>
              <div class="about-text-container">
                <ul class="circle-ul">
                  <li>Worldwide reputation of the qualification enables students to apply to all top universities in most countries including universities in Hong Kong. </li>
                  <li>Compared to GCE A-levels, IB is more recognised by universities in the US.</li>
                  <li>Mid-range obtainment of 35 marks in IB is equivalent to 4As in GCE A-levels. Studying IB better demonstrates the ability of top students.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

     
      <!--Newsletter Area Start-->
      <% include ../partials/footer %>
        <!--End of Footer Area-->
    </div>
    <!--End of Bg White-->
  </div>
  <!--End of Main Wrapper Area-->
  <% include ../partials/script %>
</body>

</html>