<!doctype html>
<html class="no-js" lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <!--Main Wrapper Start-->
  <div class="as-mainwrapper">
    <!--Bg White Start-->
    <div class="bg-white">
      <!--Header Area Start-->
      <header class="header-two">
        <% include ../partials/header %>
      </header>

      <div class="teachers-area padding-top">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title-wrapper">
                <div class="section-title">
                  <h3>Specialties of Performing Arts</h3>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <div>
                <ul class="circle-ul">
                  <li>Western modern social sciences and Chinese traditional culture and art Double Shoulder Task;</li>
                  <li>1st Hong Kong Private school aimed at developing Chinese Traditional Performing (International High School);</li>
                  <li>Students can receive the diplomas and transcripts of Chong Zheng Middle School； </li>
                  <li>A new Star Maker Factory in Hongkong；</li>
                </ul>
              </div>

              <div>
                <h4 class="ttms-subtitle">G8-G9</h4>
                <p class="bold"> High School Course + Academic English + Tutoring Course + Professional Course of Performance   Hongkong</p>
                <ul class="circle-ul">
                  <li>Training objectives: Enhancement in academic English + Developing independent learning skills + Guaranteeing the quality of learning + Basic skills of performing majors</li>
                </ul>
              </div>
              <div>
                <h4 class="ttms-subtitle">G10</h4>
                <p class="bold">High School Course +IB + Tutoring Course + Professional Course of Performance   Hongkong</p>
                <ul class="circle-ul">
                  <li>Training objectives：Enhancement in learning ability + Developing independent learning skills + Choose direction of Performing Arts</li>
                </ul>
              </div>
              <div>
                <h4 class="ttms-subtitle">G11</h4>
                <p class="bold">High School Course +IB +Prepare Portfolios   Hongkong</p>
                <ul class="circle-ul">
                  <li>Training objectives: Focusing on GPA, the number and achievement of AP, SAT and other public examinations, and the development of personal talent</li>
                </ul>
              </div>
              <div>
                  <h4 class="ttms-subtitle">G12</h4>
                  <p class="bold">High School Course + Improve IB Scores + IB Exams + Selecting Universities + Applying to Universities + making Portfolios</p>
                  <ul class="circle-ul">
                    <li>Professional guidance and assistance throughout the process of University application.</li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
      <% include ../partials/footer %>
    </div>
    <!--End of Bg White-->
  </div>
  <!--End of Main Wrapper Area-->
  <% include ../partials/script %>
</body>

</html>