<!doctype html>
<html class="no-js" lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <!--Main Wrapper Start-->
  <div class="as-mainwrapper">
    <!--Bg White Start-->
    <div class="bg-white">
      <!--Header Area Start-->
      <header class="header-two">
        <% include ../partials/header %>
      </header>
      <!--End of Header Area-->
      <!--Breadcrumb Banner Area Start-->
      <div class="breadcrumb-banner-area">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="breadcrumb-text">
                <h1 class="text-center">Students Affair Arrangement</h1>
                <div class="breadcrumb-bar">
                  <ul class="breadcrumb text-center">
                    <li><a href="index.html">Home</a></li>
                    <li>Students Affair Arrangement</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End of Breadcrumb Banner Area-->
      <!--About Page Area Start-->
      <div class="students-page-area section-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title-wrapper">
                <div class="section-title">
                  <h3>How to Apply</h3>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <p class="text-center ">Four steps to TTMS Admissions</p>
          <div class="step">
            <div class="row ">
              <div class="col-sm-offset-2 col-sm-8">
                <h4 class="mt-20 mb-20 green">Step 1: Submission of application</h4>
                <p>Parents should submit the application together with Application Fee* and supporting documents to:</p>
                <p class="address">
                  <strong>Admissions Office, Tsung Tsin Middle School, 11 Kwong Lee Road, Cheung Sha Wan, Kowloon, Hong Kong</strong>
                </p>
                <p class="italic">*We do not accept cash.  Please make check payable to “Tsung Tsin Middle School”. The application is considered complete when all required documents and application fee are submitted.  An acknowledgment email will be sent to parent within 7 business days after the application is received.</p>
              </div>
            </div>
            <div class="row aligncenter mt-20">
              <div class="col-sm-offset-2 col-sm-8">
                <div role="alert" class="alert alert-warning alert-dismissible">
                  <h5 class="mb-10">Application Deadline!</h5>
                  <p>For 2018-2019 admissions, local applicants should observe the following deadlines to ensure their priority in testing: Grade8 to Grade 12:  April 30 to October 30, 2018 Overseas applicants are encouraged to contact our office and submit the applications as soon as possible.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="step">
            <div class="row ">
              <div class="col-sm-offset-2 col-sm-8">
                <h4 class="mt-20 mb-20 green">Step 2: Admissions assessment and interview</h4>
                <p>If seats are available, the applicant will be scheduled for an admissions assessment and student interview. An email invitation will be sent to the applicant 7 days prior to the scheduled date. The assessment fee** must be submitted on the testing day. The applicant must be accompanied to the assessment by one parent or guardian.</p>
                <p class="italic">**We do not accept cash.  Please make check payable to “Tsung Tsin Middle School - International Study Programme”.</p>
              </div>
            </div>
            <div class="row  mt-20">
              <div class="col-sm-offset-2 col-sm-8">
                <div role="alert" class="alert alert-info">
                  <h5 class="mb-10">Assessment timeline</h5>
                  <p class="bold mt-10">Grade 8 to Grade 12:  January to October 2018</p>
                  <p>The admissions assessment is conducted by our Admissions Team. Duration of the assessment varies according to applying grade</p>
                  <p class="bold mt-10">Grade 8 to Grade 12:  Approximately 2 to 3 hours</p>
                  <p>Parents will be interviewed by our Admissions Team as well.</p>
                  <p>All related assessment materials are the property of TTMS. These materials are kept confidential and will not be released to any party. When an admissions assessment is offered but yet there is no vacancy available, parents can choose to have the applicant tested or not.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="step">
            <div class="row ">
              <div class="col-sm-offset-2 col-sm-8">
                <h4 class="mt-20 mb-20 green">Step 3: Admissions decisions</h4>
                <p>Parents will be notified of the admissions decision in writing within 30 days. If the applicant fulfills the admissions requirement, but vacancy is not available, the applicant will be placed on the Wait Pool for one academic year. The assessment results are only valid for one academic year. </p>
              </div>
            </div>
          </div>
          <div class="step">
            <div class="row">
              <div class="col-sm-offset-2 col-sm-8">
                <h4 class="mt-20 mb-20 green">Step 4: Enrollment and registration</h4>
                <p>Placement will be confirmed once the Entry Deposit, Reservation Fee and ICN payment are paid by the designated date. Applicants who are admitted into Grade 8 to 12 may be arranged for another Math and Mandarin placement test prior to the first day of school. Registration Package will be sent out from the Admissions Office.</p>
                <p>New Student and Parent Orientation will be scheduled 1 week prior to the first day of school.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Newsletter Area Start-->
      <% include ../partials/footer %>
        <!--End of Footer Area-->
    </div>
    <!--End of Bg White-->
  </div>
  <!--End of Main Wrapper Area-->
  <% include ../partials/script %>
</body>

</html>